/* Тупо кнопка. По фану добавил */
.b_button {
    color: rgba(255,255,255,0.75);
    background-color: #080e13;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.b_button:hover {
    color: #4ab8fd;
    background-color: #0e171e;
    text-decoration: none;
}

/* 
Использую для выделения ссылок цветом. 
Обычно просто пишу html в заметке 
Например <a href="https://example.com" class="b_yellow">Link</a>
*/
.b_yellow {
    color: #ffff00;
}


.b_red {
    color: #ff0000;
}


.b_green {
    color: #00b050;
}


.b_purple {
    color: #c516b7;
}

.b_cyan {
    color: cyan;
}

.b_lightblue {
    color: #00b0f0;
}

.b_white {
    color: white;
}


.b_yellow:hover,
.b_red:hover,
.b_green:hover,
.b_purple:hover,
.b_cyan:hover,
.b_lightblue:hover,
.b_white:hover,
.cm-s-obsidian span.cm-hmd-internal-link:hover .cm-underline,
.internal-link:hover,
.cm-header .cm-underline:hover {
    color: #ed7600 !important;
}

/* Меняет цвет ссылок на другую заметку */
.cm-s-obsidian span.cm-hmd-internal-link,
span.cm-hmd-internal-link .cm-underline,
.internal-link {
    color: cyan !important;
}

/* Меняет цвета заголовков */
.cm-header-1,
.cm-header-1 .cm-underline,
.hover-popover h1 {
    color: #00b0f0 !important;
}

.cm-header-2,
.cm-header-2 .cm-underline,
.hover-popover h2 {
    color: #ffff00 !important;
}


.cm-header-3,
.cm-header-3 .cm-underline,
.hover-popover h3 {
    color: lime !important;
}


.cm-header-4,
.cm-header-4 .cm-underline,
.hover-popover h4 {
    color: #ff0000 !important;
}


.cm-header-5,
.cm-header-5 .cm-underline,
.hover-popover h5 {
    color: #c516b7 !important;
}


.cm-header-6,
.cm-header-6 .cm-underline,
.hover-popover h6 {
    color: #00b050 !important;
}

/* Чтоб `текст` выделялся на фоне остальных */
.cm-inline-code,
.table-cell-wrapper code {
    /* background-color: #0f65e6 !important; */
    background-color: transparent !important;
    color: #6ad166 !important;
    /* font-weight: bold !important; */
}
